@import url("/css/fonts.css");
@import url("/css/navigation.css");

html,
body {
  min-height: 100vh;
  overflow-y: scroll;

  font-family: "Mulish", sans-serif;
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
  transition: background 0.3s, color 0.3s;
}

body.dark-mode {
  background-color: #121212;
  color: white;
}

.movie-card {
  flex: 1 1 auto;
  width: 150px;
  max-width: 150px;
}

.movie-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
.playing__img {
  width: 143px;
  height: 212px;
  border-radius: 5%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
.popular__playing__img {
  width: 85px;
  height: 128px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

body.dark-mode .movie-card img {
  box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.3);
}

.dark-mode-container {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 10;
  display: flex;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 25px;
}

.slider:before {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #696262;
}

input:checked + .slider:before {
  transform: translateX(18px);
}

.movie-list {
  display: flex;
  gap: 15px;
  padding: 10px;
}

.movie-list.horizontal-scroll {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* img {
  width: 143px;
  height: 212px;
} */

.movie-list.vertical-scroll {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-bottom: 20px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 500px;
  position: relative;
}

.close {
  position: absolute;

  right: 15px;
  font-size: 24px;
  cursor: pointer;
}

#detail-image {
  width: 375px;
  max-height: 500px;
  object-fit: cover;
  top: auto;
  display: block;
  margin: 0 auto;
}

#detail-image.loaded {
  visibility: visible;
}

.header-overlay {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 10;
  padding: 10px;
}

#back-button {
  background: none;
  text-align: left;
  justify-self: flex-start;
  align-items: start;
  color: white;
  border: none;
  font-size: 32px;
  cursor: pointer;
}

body.dark-mode #back-button {
  color: #ccc;
}
.movie-info {
  text-align: left;
  padding: 20px;
}

#detail-title {
  font-size: 2rem;
  font-family: "Mulish";
  font-weight: bold;
  margin-bottom: 10px;
}

#detail-description {
  font-size: 1.2rem;
  color: #555;
  max-width: 80%;
  margin: 0 auto;
}

#detail-rating {
  font-size: 1.5rem;
  font-weight: bold;
  color: gold;
  padding: 20px;
}
